import init.u8150.usb.rc
import init.msm7x25.parts.rc

on early-init

    # sdcard
    export EXTERNAL_STORAGE /mnt/sdcard
    mkdir /mnt/sdcard 0000 system system
    symlink /mnt/sdcard /sdcard

    # sd-ext
    export SD_EXT_DIRECTORY /mnt/sd-ext
    mkdir /mnt/sd-ext 0000 system system
    symlink /mnt/sd-ext /sd-ext
    
on fs

    # framebuffer permission for copybit
    chmod 0666 /dev/graphics/fb0

on post-fs-data

    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    
    # last line for post-fs-data
    setprop vold.post_fs_data_done 1
   
on boot

## Setup bluetooth
    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chmod 0660 /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/state
    write /sys/class/rfkill/rfkill0/state 0

    chown bluetooth bluetooth /proc/bluetooth/sleep/asleep
    chown bluetooth bluetooth /proc/bluetooth/sleep/btwake
    chown bluetooth bluetooth /proc/bluetooth/sleep/btwrite
    chown bluetooth bluetooth /proc/bluetooth/sleep/hostwake
    chown bluetooth bluetooth /proc/bluetooth/sleep/lpm
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chmod 0660 /proc/bluetooth/sleep/btwake
    chmod 0660 /proc/bluetooth/sleep/lpm
    chmod 0660 /proc/bluetooth/sleep/btwrite
    chmod 0660 /proc/bluetooth/sleep/proto

    chown bluetooth bluetooth /sys/module/sco/parameters/disable_esco
    chmod 0660 /sys/module/bluetooth_power/parameters/power
    chown bluetooth bluetooth /sys/devices/platform/msm_serial_hs.0/clock
    chmod 0660 /sys/devices/platform/msm_serial_hs.0/clock

    # mac address property
    setprop ro.bt.bdaddr_path /data/misc/bluetooth/bdaddr

    mkdir /data/local
    chmod 0777 /data/local
    chown radio shell /data/local
    mkdir /data/local/tmp
    chmod 0777 /data/local/tmp
    chown radio shell /data/local/tmp

    # Enable KSM (Kernel SamePage Mapping)
    write /sys/kernel/mm/ksm/sleep_millisecs 4000
    write /sys/kernel/mm/ksm/pages_to_scan 128
    write /sys/kernel/mm/ksm/run 0

    chown system system /sys/bus/platform/devices/msm_sdcc.1/polling
    chown system system /sys/bus/platform/devices/msm_sdcc.2/polling

service qmuxd /system/bin/qmuxd
    class core
    user radio
    group radio audio inet bluetooth

service hciattach /system/bin/sh /system/etc/init.qcom.bt.sh
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled
  
on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd_eth0  
    
service wpa_supplicant /system/bin/wpa_supplicant \
    -Dwext -ieth0 -W -c/data/misc/wifi/wpa_supplicant.conf
    class main
    group wifi inet
    socket wpa_eth0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -B
    class main
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -B
    class main
    disabled
    oneshot

service iprenew_bnep0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service akmd /system/bin/akmd2
    class main
    user compass
    group compass misc input
    oneshot
    
service dhcp-service /system/bin/netcfg eth0 dhcp
    class main
    oneshot

on property:dev.bootcomplete=1
    stop dhcp-service
    start dhcp-service
